* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'), url('..fonts/OpenSans-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff') format('woff'), url('..fonts/OpenSans-Light.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'), url('..fonts/OpenSans-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('..fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}

:root {
    --font-color: #9D5CD0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    
}

ul {
    margin: 0;
    list-style: none;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1630px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-first__menu {
    display: none;
}

.header-first__hide-search {
    display: none;
    background-image: url("../img/loop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
}

.header-first__burger {
    display: none;
    width: 36px;
    height: 28px;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 1;
}

.header-first__burger .header-first__line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
    position: relative;
    right: 0px;
}

.header-first__burger:hover .header-first__line {
    background-color: #ffffff;
}

.header-first__burger:hover .header-first__line:nth-child(2) {
    width: 80%;
}

.header-first__burger:hover .header-first__line:nth-child(3) {
    width: 50%;
}

.header-first {
    background-color: #000000;
}

.header-first__container {
    display: flex;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 31px;
}

.header-first__logo {
    display: block;
    margin-right: auto;
    margin-right: 180px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 173px;
    height: 40px;
    background-size: contain;
}

.header-first__nav-menu {
    display: flex;
    padding: 0;
}

.header-first__list-link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    color: #ffffff;
    transition: color 0.5s ease;
    white-space: nowrap;
}

.header-first__list:not(:last-child) {
    margin-right: 59px;
}

.header-first__list-link:hover {
    color: #C283F3;
    transition: color .5s ease;
}

.header-first__list-link:active {
    color: #7943A4;
    outline: none;
}

.header-first__login-link {
    display: inline-block;
    transition-property: color, fill;
    transition-duration: .5s;
    transition-timing-function: ease;
    margin-left: auto;
    white-space: nowrap;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}

.header-first__login-link:hover path {
    fill: #C283F3;
    transition: fill .5s ease;
}

.header-first__login-link:focus {
    outline: 2px solid #7943A4;
    padding: 2px 6px;
}

.header-first__login-link:hover {
    color: #C283F3;
    transition: color .5s ease;
}

.header-second {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-second__container {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 21px;
}

.header-second__menu {
    display: flex;
    padding-left: 0;
}

.header-second__menu-list:not(:last-child) {
    margin-right: 94px;
}

.header-second__menu-list,
.header-second__btn {
    position: relative;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s ease;
    white-space: nowrap;
}

.header-second__btn:hover {
    color: var(--font-color);
    transition: color 0.5s ease;
}

.header-second__menu-list .header-second__drop-list {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
}

.header-second__drop-list {
    padding: 0;
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.6);
}

.header-second__drop-list-item {
    background-image: url("../img/57.png");
    background-repeat: no-repeat;
    max-width: 220px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    outline: none;
    transition: background-image 0.5s ease;
}

.header-second__drop-list-item:hover {
    background-image: url("../img/59.png");
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.header-second__drop-list-item:focus {
    background-image: url("../img/58.png");
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.header-second__drop-list-item:active {
    background-image: url("../img/60.png");
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.header-second__drop-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    outline: none;
}

.header-second__btn:focus~.header-second__drop-list,
.header-second__btn:active~.header-second__drop-list,
.header-second__drop-list:hover {
    display: block;
    color: #fff;
    cursor: pointer;
}

.header-second__menu-list .header-second__drop-list-item {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}

.simplebar-content-wrapper {
    overflow: auto;
}

.simplebar-scrollbar {
    opacity: 1;
    background-color: #9D5CD0;
    width: 2px;
    z-index: 1;
}

.simplebar-track.simplebar-vertical {
    margin-top: 40px;
    margin-right: 19px;
    width: 2px;
    height: 220px;
    background-color: #000000;
}

.header-second__form-submit {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.header-second__menu-btn {
    display: inline-block;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 10px;
    margin-left: 4px;
    transition: background-image 0.5s ease;
}

.header-second__btn:hover>.header-second__menu-btn {
    background-image: url("../img/strelka1.svg");
    transition: background-image 0.5s ease;
}

.header-second__btn:active>.header-second__menu-btn {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.header-second__btn:focus {
    outline: 2px solid #7943A4;
}

.header-second__search-btn {
    display: inline-block;
    background-image: url("../img/loop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    margin-right: 9px;
    outline: none;
    transition: background-image 0.5s ease;
}

.header-second__search {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 15px;
    outline: none;
    transition: border-bottom 0.5s ease;
}

.header-second__form-submit:hover>.header-second__search-btn {
    background-image: url("../img/loop1.svg");
    transition: background-image 0.5s ease;
}

.header-second__form-submit:hover>.header-second__search {
    border-bottom: 1px solid #C283F3;
    transition: border-bottom 0.5s ease;
}

.header-second__form-submit:active>.header-second__search-btn {
    background-image: url("../img/loop1.svg");
    transition: background-image 0.5s ease;
}

.header-second__form-submit:active>.header-second__search {
    caret-color: #C283F3;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.5s ease;
}

.header-second__form-submit:active>input[type="search"]::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header-second__form-submit:focus {
    outline: 2px solid #C283F3;
    padding: 2px 6px;
}

input[type="search"]::placeholder {
    color: #ffffff;
    padding-bottom: 2px;
}

.hero {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.hero__title {
    margin: 0;
    padding-top: 71px;
    font-size: 72px;
    line-height: 83px;
    font-weight: 600;
    color: #ffffff;
    max-width: 600px;
    padding-bottom: 19px;
}

.hero__descriptions {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    max-width: 600px;
    margin-top: 0;
    padding-bottom: 96px;
}

.hero__first-btn {
    max-width: 315px;
    padding: 20px 33px;
    background-color: var(--font-color);
    border-radius: 100px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid transparent;
    outline: none;
    transition: border .5s ease;
}

.hero__first-btn:focus {
    border: 3px solid #D1A9F0;
    transition: border .5s ease;
}

.hero__first-btn:hover {
    border: 3px solid #7943A4;
    color: #ffffff;
}

.hero__first-btn:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
}

.hero_img-container {
    width: 100%;
    min-height: 711px;
    position: relative;
    margin-top: -565px;
    z-index: -1;
    overflow: hidden;
}

.hero_image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation: imagesFading 20s infinite;
    -moz-animation: imagesFading 20s infinite;
    -o-animation: imagesFading 20s infinite;
    animation: imagesFading 20s infinite;
}

@keyframes imagesFading {
    0% {
        opacity: 1;
        width: 100%;
    }
    25% {
        opacity: 1;
        width: 110%;
    }
    53% {
        opacity: 0;
        width: 120%;
    }
    73% {
        opacity: 1;
        width: 110%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

.hero__image-hero {
    background-image: url("../img/birmingham.jpg");
    animation-delay: 4s;
}

.hero__image-muzey {
    background-image: url("../img/museums.jpg");
    animation-delay: 2s;
}

.hero__image-trust {
    background-image: url("../img/trust.jpg");
    animation-delay: 0s;
}

.about__title {
    margin: 0;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 14px;
}

.about__text {
    margin: 0;
    line-height: 32px;
    font-weight: 400;
    max-width: 67%;
}

.about {
    padding-top: 82px;
    margin-bottom: 70px;
}

.gallery {
    background-image: url("../img/MK.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.gallery_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    min-width: 0;
}

.gallery__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25%;
    padding-bottom: 70px;
}

.gallery__title {
    margin: 0;
    color: #ffffff;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    padding-bottom: 15px;
}

.gallery__filtr {
    border: none;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 0;
    padding-bottom: 8px;
}

.gallery__select {
    width: 100%;
}

.gallery__select-option {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.choices__inner {
    padding-top: 0;
    height: 38px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    z-index: 2;
}

.choices__list--dropdown .choices__item {
    padding-bottom: 0;
    padding-top: 4px;
}

.is-open .choices__list--dropdown {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.choices__placeholder {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #999999;
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.choices[data-type*=select-one]::after {
    content: url("../img/strelka.svg");
    margin-top: -10px;
    margin-right: 12px;
    color: #ffffff;
    position: absolute;
    border-style: none;
}

.choices[data-type*=select-one].is-open::after {
    content: url("../img/strelka.svg");
    margin-top: -10px;
    margin-right: 12px;
    color: #ffffff;
    position: absolute;
    border-style: none;
}

.gallery__description {
    padding-top: 555px;
    max-width: 360px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #ffffff;
}

.gallery__sign,
.gallery__sign-link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #9D5CD0;
    transition: color 0.5s ease;
}

.gallery__sign-link:hover {
    color: #C283F3;
    transition: color 0.5s ease;
}

.gallery__sign-link:focus {
    outline: 2px solid #7943A4;
}

.gallery__sign-link:active {
    color: #7943A4;
    transition: color 0.5s ease;
}

.gallery__wrapper {
    margin-left: 50px;
    max-width: 72%;
}

.swiper-container1 {
    margin-top: 30px;
    height: 350px;
    width: 1150px;
    margin-bottom: 50px;
    overflow: hidden;
}

.swiper-container2 {
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 1150px;
    margin-bottom: 50px;
    overflow: hidden;
}

.gallery__top-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper-pagination-fraction {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    position: static;
    width: 75px;
}

.swiper-button-prev {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: static;
    background-color: #666;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    outline: none;
}

.swiper-button-next {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: static;
    background-color: #666;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    outline: none;
    transition: background-color 0.5s ease;
}

.swiper-button-next:focus {
    border: 2px solid #7943A4;
}

.swiper-button-prev:focus {
    border: 2px solid #7943A4;
}

.swiper-button-next:hover {
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    transition: background-color 0.5s ease;
}

.swiper-button-prev:hover {
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    transition: background-color 0.5s ease;
}

.swiper-button-next:active {
    border: 2px solid #7943A4;
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    transition: background-color 0.5s ease;
}

.swiper-button-prev:active {
    border: 2px solid #7943A4;
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    transition: background-color 0.5s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-slide {
    outline: none;
}

.swiper-slide.swiper_hover:focus {
    border: 3px solid #7943A4;
}

.swiper_hover::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/hover.svg") no-repeat center center;
    opacity: 0;
    transition: .8s;
}

.swiper_hover:hover::after {
    display: block;
    background: url("../img/hover.svg") no-repeat center center;
    opacity: 1;
    transition: .8s;
}

.swiper-slide.swiper_hover:active::after {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url("../img/hover.svg") no-repeat center center;
    border: 2px solid #D1A9F0;
    box-sizing: border-box;
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.swiper-slide.slider1 {
    background-image: url("../img/70.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider2 {
    background-image: url("../img/69.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider3 {
    background-image: url("../img/68.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider4 {
    background-image: url("../img/72.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider5 {
    background-image: url("../img/73.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider6 {
    background-image: url("../img/71.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider7 {
    background-image: url("../img/86.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider8 {
    background-image: url("../img/80.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider9 {
    background-image: url("../img/90.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider10 {
    background-image: url("../img/87.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider11 {
    background-image: url("../img/81.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider12 {
    background-image: url("../img/91.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider13 {
    background-image: url("../img/88.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider14 {
    background-image: url("../img/82.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider15 {
    background-image: url("../img/84.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider16 {
    background-image: url("../img/89.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider17 {
    background-image: url("../img/83.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider18 {
    background-image: url("../img/85.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider19 {
    background-image: url("../img/7.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider20 {
    background-image: url("../img/8.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider21 {
    background-image: url("../img/9.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider22 {
    background-image: url("../img/77.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider23 {
    background-image: url("../img/74.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider24 {
    background-image: url("../img/79.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider25 {
    background-image: url("../img/172.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider26 {
    background-image: url("../img/171.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider27 {
    background-image: url("../img/731.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider28 {
    background-image: url("../img/78.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider29 {
    background-image: url("../img/75.png");
    background-repeat: no-repeat;
}

.swiper-slide.slider30 {
    background-image: url("../img/76.png");
    background-repeat: no-repeat;
}

.catalog {
    padding-top: 80px;
}

.catalog__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.catalog__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    margin-right: 41px;
    margin-top: 0;
    margin-bottom: 0;
}

.catalog__flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog__flag-tab_fl {
    width: 46px;
    height: 46px;
    border-radius: 41px;
    outline: none;
}

.catalog__flag-tab {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 41px;
}
.catalog__flag-tab:not(:last-child) {
    margin-right: 50px;
}

.catalog__flag-tab:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
    border-radius: 29px;
}


.flag_active {
   border: 2px solid #9D5CD0;
    border-radius: 41px;
    width: 66px;
    height: 66px;
    padding: 10px;
}
.l_image, .l_image1, .l_image2, .l_image3, .l_image4 {
    display: none;
}

.l_image_active, .l_image_active1, .l_image_active2, .l_image_active3, .l_image_active4 {
    display: block;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.catalog__text-history {
    margin-top: 0px;
    line-height: 32px;
    max-width: 69%;
    padding-bottom: 23px;
}

.catalog__history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    
}

.catalog__block {
    width: 47%;
    margin-right: 50px;
}

.catalog__block-img {
    max-width: 750px;
    min-height: 470px;
}

.catalog__artist_img {
    max-width: 750px;
    max-height: 470px;
}

.catalog__data {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    font-weight: normal;
    margin-bottom: 0;
  
}

.catalog__text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    padding-top: 4px;
}

.catalog__list {
    width: 50%;
}

.catalog__accord-title {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    outline: none;
    transition: color 0.5s ease;
}

.catalog__title-artist {
    font-size: 23px;
    line-height: 33px;
    font-weight: 600;
    margin: 0;
    padding-top: 24px;
}

.ui-accordion-header.catalog__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CACACA;
    padding-top: 31px;
    padding-bottom: 31px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
}

.catalog__accord-title:focus+.catalog__accord-btn {
    border: 2px solid #7943A4;
    transition: background-color 0.5s ease;
}

.catalog_accord-title:focus {
    border: 2px solid #7943A4;
}

.catalog__list-item:hover>.catalog__accord-title {
    color: #9D5CD0;
    transition: color 0.5s ease;
}

.catalog__list-item:hover>.catalog__accord-btn {
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    background-size: 17px;
}

.catalog__list-item:active>.catalog__accord-title {
    color: #9D5CD0;
    border: none;
    transition: color 0.5s ease;
}

.catalog__list-item:active>.catalog__accord-btn {
    background-color: #9D5CD0;
    background-image: url("../img/strelka.svg");
    transform: rotate(180deg);
    background-size: 17px;
    border: 2px solid #D1A9F0;
    transition: background-color 0.5s ease;
}

.ui-accordion-header.catalog__list-item:first-child {
    border-top: 1px solid #CACACA;
}

.catalog__accord-btn {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ECECEC;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    background-image: url("../img/strelka2.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
    margin-left: auto;
    transition: background-color 0.5s ease;
}

.catalog__description {
    height: 345px;
    column-width: 208px;
    column-count: 3;
    column-gap: 0px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
}

.catalog__accord-text {
    line-height: 32px;
    font-weight: 400;
    min-height: 307px;
    margin: 0;
    padding-left: 0;
}

.artist, .artist1, .artist2, .artist3, .artist4 {
    color: #333333;
    cursor: pointer;
    transition: color 0.5s ease;
}

.artist_active, .artist_active1, .artist_active2, .artist_active3, .artist_active4 {
    color: #7943A4;
    font-weight: bold;
    border: none;
}

.artist:hover {
    color: #9D5CD0;
    text-decoration-line: underline;
    transition: color 0.5s ease;
}

.artist:focus {
    border: 2px solid #7943A4;
    text-decoration-line: none;
}

.artist:active {
    color: #7943A4;
    font-weight: bold;
    border: none;
    transition: color 0.5s ease;
}

.event {
    margin-top: 84px;
}

.event__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    margin-bottom: 17px;
}

.event__block {
    display: flex;
    flex-flow: row wrap;
}

.event__book {
    display: block;
    position: relative;
    width: 31%;
    min-height: 700px;
    border: 1px solid #CACACA;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.event__book:not(:last-child) {
    margin-right: 55px;
}

.event__book-img {
    width: 100%;
    min-height: 300px;
}

.event__book-item {
    margin-top: 7px;
    margin-left: auto;
    text-align: right;
    padding-right: 19px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}

.event__book-titles {
    font-size: 23px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    padding-left: 50px;
    margin: 0;
    margin-top: 5px;
}

.event__book-text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
    padding-left: 50px;
    padding-right: 43px;
    margin-top: 5px;
    padding-bottom: 43px;
}

.event__btn {
    position: absolute;
    bottom: 43px;
    margin-left: 50px;
    border-bottom: 1px solid var(--font-color);
    line-height: 24px;
    font-weight: 400;
    color: var(--font-color);
    outline: none;
}

.event__btn:focus {
    border: 2px solid #7943A4;
    padding-right: 6px;
    padding-left: 6px;
}

.event__btn:hover {
    font-weight: 700;
}

.event__btn:active {
    color: #7943A4;
    font-weight: bold;
}

.event__book-hide {
    display: none;
}

.event__book-hide-spoiler {
    display: flex;
}

.event__hide-btn {
    max-width: 188px;
    display: block;
    border: 2px solid var(--font-color);
    border-radius: 100px;
    background-color: #e5e5e5;
    padding: 17px 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--font-color);
    cursor: pointer;
    white-space: nowrap;
    margin: 0 auto;
}

.event-spoiler {
    color: var(--font-color);
}

.publish {
    margin-top: 80px;
    background-image: url("../img/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}

.publish-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.publish__block {
    max-width: 35%;
    margin-right: 111px;
}

.publish__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 38px;
    margin-bottom: 14px;
}

.publish__check-title {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 7px;
    text-align: left;
    border: none;
}

.publish__price-title {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 10px;
}

.publish__check {
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}

.publish__option {
    display: block;
    padding-bottom: 2px;
    outline: none;
}

.publish__option:not(:last-child) {
    padding-bottom: 0;
}

.publish__check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.publish__check-box {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #FFFFFF;
    margin-left: -1.2em;
    margin-top: 10px;
}

.publish__items {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 7px;
    outline: none;
}

.publish__items:focus {
    border: 2px solid #7943A4;
    color: #fff;
}

.publish__check:hover>.publish__items {
    color: #9D5CD0;
}

.publish__check:hover>.publish__check-box {
    border: 1px solid #9D5CD0;
}

.publish__check:active>.publish__items {
    color: #7943A4;
}

.publish__check:active>.publish__check-box {
    border: 1px solid #7943A4;
}

.publish__check-input:checked+.publish__check-box {
    background-image: url("../img/16.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

.publish__check-input:checked~.publish__items {
    color: var(--font-color);
}

.publish__check-title {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 1px;
    text-align: left;
    border: none;
}

.publish__price {
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    max-width: 341px;
    height: 40px;
}

.publish__price-input {
    max-width: 60px;
    height: 16px;
    border: none;
    background-color: var(--font-color);
}

.price1 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
    padding-left: 15px;
    padding-right: 11px;
}

.price2 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--font-color);
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.swiper-container3 {
    margin: o auto;
    min-height: 593px;
    max-width: 1150px;
    overflow: hidden;
}

.publish__gallery {
    max-width: 72%;
}

.publish__top-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 31px;
    margin-top: 106px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.publish__img {
    width: 350px;
    height: 390px;
}

.publish__list {
    max-width: 350px;
}

.publish__card-item {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

.publish__card-aftor {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.publish__card-price {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    font-style: italic;
}

.publish__card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 18px;
}

.publish__btn {
    display: block;
    max-width: 119px;
    border: 2px solid var(--font-color);
    border-radius: 100px;
    margin-top: 14px;
    outline: none;
    background-color: transparent;
    padding: 8px 20px;
    transition: background-color 0.5s ease;
}

.publish__title-btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.publish__btn:focus>.publish__title-btn {
    border: 2px solid #7943A4;
}

.publish__btn:hover {
    background-color: #9D5CD0;
    border: none;
    transition: background-color 0.5s ease;
}

.publish__btn:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
    transition: background-color 0.5s ease;
}

.proyect__title {
    margin-top: 80px;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 15px;
}

.proyect__text {
    line-height: 32px;
    font-weight: 400;
    max-width: 65%;
}

.i-btn {
    display: inline-block;
    background: url("../img/i-tul.svg") no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.proyect__text-popup {
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 9999;
    margin-bottom: 5px;
    padding: 8px 11px;
    width: 240px;
    background: #CACACA;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.i-btn:hover .proyect__text-popup {
    opacity: 1;
    visibility: visible;
}

.proyect__text-link {
    color: var(--font-color);
    outline: none;
    transition: color 0.5s ease;
}

.proyect__text-link:focus {
    border: 2px solid #7943A4;
    transition: border 0.5s ease;
}

.proyect__text-link:hover {
    text-decoration-line: underline;
}

.proyect__text-link:active {
    color: #7943A4;
    transition: color 0.5s ease;
    text-decoration-line: underline;
}

.swiper-container4 {
    margin: 0 auto;
    height: 150px;
    width: 91%;
    margin-bottom: 50px;
    overflow: hidden;
}

.proyect__part {
    font-size: 23px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 20px;
}

.proyect__part-btn {
    position: relative;
}

.pr {
    position: absolute;
    margin-top: 57px;
    background-color: #ececec;
    background-image: url(../img/strelka2.svg);
}

.nx {
    position: absolute;
    margin-top: 57px;
    background-color: #ececec;
    background-image: url(../img/strelka2.svg);
}

.swiper-slide.part1:hover {
    background-image: url("../img/22h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.8s;
}

.swiper-slide.part1 {
    background-image: url("../img/22.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.8s;
}

.swiper-slide.part2 {
    background-image: url("../img/24.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part2:hover {
    background-image: url("../img/24h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part3 {
    background-image: url("../img/25.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part3:hover {
    background-image: url("../img/25h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part4 {
    background-image: url("../img/26.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part4:hover {
    background-image: url("../img/26h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part5 {
    background-image: url("../img/27.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part5:hover {
    background-image: url("../img/27h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part6 {
    background-image: url("../img/65.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part6:hover {
    background-image: url("../img/65h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part7 {
    background-image: url("../img/166.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part7:hover {
    background-image: url("../img/166h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part8 {
    background-image: url("../img/167.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part8:hover {
    background-image: url("../img/167h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part9 {
    background-image: url("../img/23.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.swiper-slide.part9:hover {
    background-image: url("../img/23h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.contacts__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.contacts__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 153px;
    margin-bottom: 13px;
}

.conacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #CACACA;
    width: 35.5%;
    max-height: 705px;
    padding-left: 155px;
    padding-right: 120px;
}

.contacts__name {
    padding-top: 102px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 0;
}

.contacts__adress {
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 3px;
}

.contacts__app {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    padding-top: 28px;
    margin: 0px;
}

.contacts__app-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    padding-top: 32px;
    margin: 0px;
}

.contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 14px;
}

.contacts__input-name {
    max-width: 420px;
    min-height: 40px;
    margin-bottom: 23px;
    border: 1px solid #333333;
    border-radius: 100px;
    font-size: 16px;
    line-height: 32px;
    color: #999999;
    padding-left: 24px;
}

.contacts__btn {
    max-width: 157px;
    border: 2px solid var(--font-color);
    border-radius: 100px;
    padding: 16px 35px;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--font-color);
    margin-bottom: 5px;
}

.contacts__soc {
    margin-top: 0px;
    padding-top: 15px;
}

.contacts__maps {
    max-width: 64.5%;
    background-image: url("../img/maps.png");
    background-repeat: no-repeat;
}

.ymaps-2-1-77-map {
    max-width: 100%;
    min-height: 100%;
}

.maps {
    max-width: 100%;
    min-height: 100%;
}

.contacts__soc-img {
    margin-right: 16px;
}

.footer {
    background-color: #000000;
    min-height: 140px;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__logo2 {
    padding-top: 49px;
}

.footer__soc {
    padding-top: 51px;
}

.footer__social-img {
    margin-left: 13px;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

@media (max-width: 1700px) {
    .container {
        max-width: 1400px;
    }
    .swiper-container1,
    .swiper-container2 {
        max-width: 750px;
    }
    .event_book:not(:last-child) {
        margin-right: 27px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1300px;
    }
    .header-first_banner {
        margin-right: 50px;
    }
    .header-second_menu-list:not(:last-child) {
        margin-right: 60px;
    }
    .publish-block_gallery {
        max-width: 50%;
    }
    .publish-block_img {
        width: 290px;
        height: 320px;
    }
}

@media (max-width:1300px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-first_nav-menu-list,
    .header-first_nav-menu-list-link,
    .header-second_menu-list,
    .header-second_menu-link,
    .header-first_login,
    .header-first_login-link,
    .header-second-search {
        font-size: 16px;
    }
    .header-second_menu-list:not(:last-child) {
        margin-right: 45px;
    }
    .conacts-list {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media (max-width:1200px) {
    .header-first_nav,
    .header-first_login,
    .header-second {
        display: none;
    }
    .header-first_logo-title {
        order: 2;
    }
    .burger {
        display: flex;
        order: 1;
    }
    .header-first_banner {
        width: 186.7px;
        height: 42px;
        margin-right: 0;
    }
    .header-hide_search-btn {
        display: block;
        order: 3;
    }
    .menu {
        display: block;
        position: fixed;
        top: 95px;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .menu.is-active {
        -webkit-transform: translateX(-125%);
        -ms-transform: translateX(-125%);
        transform: translateX(-125%);
    }
    .menu-item,
    .menu-item-link {
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .menu-list {
        padding: 0;
        border: 1px solid #ffffff;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
    }
    .header-first_container {
        position: fixed;
        background-color: #000000;
        z-index: 20;
        display: flex;
        justify-content: space-between;
    }
    .hero-title {
        padding-top: 170px;
    }
    .catalog-history {
        flex-direction: column;
    }
    .catalog-history_block {
        display: block;
        margin: 0 auto;
    }
    .event_book-img {
        min-height: 200px;
    }
    .swiper-container1,
    .swiper-container2 {
        max-width: 590px;
        max-height: 280px;
    }
}